* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: .5rem;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(250, 248, 248);
  font-weight: 300;
  box-sizing: border-box;
  text-align: center;
}

